<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ccb.mapper.ExerciseMapper">
    <sql id="whereCondition">
        <where>
            <if test="courseId != null">
                and id = #{id}
            </if>
        </where>
    </sql>

    <select id="queryExercise" parameterType="com.ccb.domain.bo.ExerciseQueryBO" resultType="com.ccb.domain.po.ExercisePO">
        select * from t_exercise
        <include refid="whereCondition"/>
        limit #{pageNo}, #{pageSize}
    </select>

    <select id="countExercise" parameterType="com.ccb.domain.bo.ExerciseQueryBO" resultType="java.lang.Long">
        select count(*) from t_exercise
        <include refid="whereCondition"/>
    </select>

</mapper>