<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ccb.mapper.ForumMapper">
    <sql id="whereCondition">
        <where>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
        </where>
    </sql>

    <select id="queryForum" parameterType="com.ccb.domain.bo.ForumBO" resultType="com.ccb.domain.po.ForumPO">
        select * from t_forum
        <include refid="whereCondition"/>
        limit #{pageNo}, #{pageSize}
    </select>

    <select id="countForum" parameterType="com.ccb.domain.bo.ForumBO" resultType="java.lang.Long">
        select count(*) from t_forum
        <include refid="whereCondition"/>
    </select>

</mapper>