<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ccb.mapper.TeacherMapper">
    <select id="queryTeacher" parameterType="com.ccb.domain.po.TeacherPO" resultType="com.ccb.domain.po.TeacherPO">
        select * from t_teacher
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>

</mapper>